<div class="pageWrapper">
  <header></header>

  <section class="pageContent">
    <h1 class="pageTitle">Current Inventory</h1>
    <h2 class="pageSubTitle">For Reservations Call</br> <a href="tel:+1-801-872-4527">801-872-4527</a></h2>
    <p class="pageSubTitle">Or book online at </br> <a href="https://highoctane.stellarims.com/category/2" target="_blank">highoctane.stellarims.com</a></p>
    <div class="content-holder">

      <!-- under here is where i'm dulpicating -->
      <div class="machineContainer">
        <div class="leftSide">
          <h1 class="machineName machineTitles no-p">2022</br> Can-Am Commander XT Max</h1>
          <h1 class="dailyPrice">$350/Day</h1>
          <img class="machineImg" src="img/07-13-22/2022CommanderMaxXT1000.jpg" alt="sxs image">
        </div>
        <div class="rightSide">
          <h2 class="subTitle greenTitles no-left-p">Key Features</h2>
          <ul class="festuresList">
            <li class="">Comfortably seats 4 people</li>
            <li class="">Stable and comfortable ride on rough terrain</li>
            <li class="">Power to spare with a 1000 cc engine</li>
            <li class="">Great handling in all riding conditions</li>
            <li class="">Sport or ECO drive mode. large cargo box capacity.</li>
          </ul>
        </div>
      </div>
      <!-- under here is where i'm dulpicating -->
      <div class="machineContainer">
        <div class="leftSide">
          <h1 class="machineName machineTitles no-p">2022</br> Can-Am Maverick Sport Max</h1>
          <h1 class="dailyPrice">$350/Day</h1>
          <img class="machineImg" src="img/07-13-22/2022CanAmMaverickSportMax.jpg" alt="sxs image">
        </div>
        <div class="rightSide">
          <h2 class="subTitle greenTitles no-left-p">Key Features</h2>
          <ul class="festuresList">
            <li class="">High performance 1000cc engine</li>
            <li class="">Sporty and nimble on any terrain</li>
            <li class="">Seats 4 in comfortable and secure bucket seats</li>
            <li class="">Cargo space for supplies</li>
            <li class="">Great handling and comfortable for a full days ride.</li>
          </ul>
        </div>
      </div>
      <!-- under here is where i'm dulpicating -->
      <div class="machineContainer">
        <div class="leftSide">
          <h1 class="machineName machineTitles no-p">2020</br> Can-Am Defender Max</h1>
          <h1 class="dailyPrice">$325/Day</h1>
          <img class="machineImg" src="img/07-13-22/2020CanAmDefenderMax.jpg" alt="sxs image">
        </div>
        <div class="rightSide">
          <h2 class="subTitle greenTitles no-left-p">Key Features</h2>
          <ul class="festuresList">
            <li class="">Defender Max is well equipped for any adventure</li>
            <li class="">Room for 6 people</li>
            <li class="">Un-compromising comfort</li>
            <li class="">Un-compromising power with 4WD</li>
            <li class="">Cargo room for all your gear</li>
          </ul>
        </div>
      </div>
      <!-- under here is where i'm dulpicating -->
      <div class="machineContainer">
        <div class="leftSide">
          <h1 class="machineName machineTitles no-p">2017</br> Can-Am Commander</h1>
          <h1 class="dailyPrice">$275/Day</h1>
          <img class="machineImg" src="/img/machine-folder/canam2017.png" alt="sxs image">
        </div>
        <div class="rightSide">
          <h2 class="subTitle greenTitles no-left-p">Key Features</h2>
          <ul class="festuresList">
            <li class="">71-hp Rotax 800R V-Twin Engine</li>
            <li class="">Torsional Trailing Arm Independent (TTI) Rear Suspension</li>
            <li class="">Double A-Arm Front Suspension with Sway Bar</li>
            <li class="">27-in (68.6 cm) Maxxis† Bighorn 2.0 tires</li>
            <li class="">Dual-level Cargo Box</li>
          </ul>
        </div>
      </div>

    <!-- above here is where the duplications are -->
    </div>
  </section>

  <footer></footer>
</div>
