<div class="pageWrapper">
  <header></header>

  <section class="pageContent">
    <h1 class="pageTitle">Current Inventory</h1>
    <div class="content-holder">

    <div class="machineContainer">
      <div class="leftSide">
        <h1 class="machineName machineTitles no-p">2017 commander&nbsp;800</br> 4 Seater</h1>
        <h1 class="dailyPrice">$189/Day</h1>
        <img class="machineImg" src="/img/machine-folder/canam2017four.png" alt="sxs image">
      </div>
      <div class="rightSide">
        <h2 class="subTitle greenTitles no-left-p">Key Features</h2>
        <ul class="festuresList">
          <li class="">71-hp Rotax 800R V-Twin Engine</li>
          <li class="">Torsional Trailing Arm Independent (TTI) Rear Suspension</li>
          <li class="">Double A-Arm Front Suspension with Sway Bar</li>
          <li class="">27-in (68.6 cm) Maxxis† Bighorn 2.0 tires</li>
          <li class="">Dual-level Cargo Box</li>
        </ul>
      </div>
    </div>
    <!-- under here is where i'm dulpicating -->
    <div class="machineContainer">
      <div class="leftSide">
        <h1 class="machineName machineTitles no-p">2017 commander&nbsp;800</br> 2 Seater</h1>
        <h1 class="dailyPrice">$179/Day</h1>
        <img class="machineImg" src="/img/machine-folder/canam2017.png" alt="sxs image">
      </div>
      <div class="rightSide">
        <h2 class="subTitle greenTitles no-left-p">Key Features</h2>
        <ul class="festuresList">
          <li class="">71-hp Rotax 800R V-Twin Engine</li>
          <li class="">Torsional Trailing Arm Independent (TTI) Rear Suspension</li>
          <li class="">Double A-Arm Front Suspension with Sway Bar</li>
          <li class="">27-in (68.6 cm) Maxxis† Bighorn 2.0 tires</li>
          <li class="">Dual-level Cargo Box</li>
        </ul>
      </div>
    </div>

    <div class="machineContainer">
      <div class="leftSide">
        <h1 class="machineName machineTitles no-p">2016 commander&nbsp;800</br> 4 Seater</h1>
        <h1 class="dailyPrice">$189/Day</h1>
        <img class="machineImg" src="/img/machine-folder/2016canamfour.png" alt="sxs image">
      </div>
      <div class="rightSide">
        <h2 class="subTitle greenTitles no-left-p">Key Features</h2>
        <ul class="festuresList">
          <li class="">71-hp Rotax 800R V-Twin Engine</li>
          <li class="">Torsional Trailing Arm Independent (TTI) Rear Suspension</li>
          <li class="">Double A-Arm Front Suspension with Sway Bar</li>
          <li class="">27-in (68.6 cm) Maxxis† Bighorn 2.0 tires</li>
          <li class="">Dual-level Cargo Box</li>
        </ul>
      </div>
    </div>

    <div class="machineContainer">
      <div class="leftSide">
        <h1 class="machineName machineTitles no-p">2016 commander&nbsp;800</br> 2 Seater</h1>
        <h1 class="dailyPrice">$179/Day</h1>
        <img class="machineImg" src="/img/machine-folder/canam2017.png" alt="sxs image">
      </div>
      <div class="rightSide">
        <h2 class="subTitle greenTitles no-left-p">Key Features</h2>
        <ul class="festuresList">
          <li class="">71-hp Rotax 800R V-Twin Engine</li>
          <li class="">Torsional Trailing Arm Independent (TTI) Rear Suspension</li>
          <li class="">Double A-Arm Front Suspension with Sway Bar</li>
          <li class="">27-in (68.6 cm) Maxxis† Bighorn 2.0 tires</li>
          <li class="">Dual-level Cargo Box</li>
        </ul>
      </div>
    </div>

    <div class="machineContainer">
      <div class="leftSide">
        <h1 class="machineName machineTitles no-p">2016 rzr 900</br> 2 Seater</h1>
        <h1 class="dailyPrice">$179/Day</h1>
        <img class="machineImg" src="/img/machine-folder/rzr-900.jpg" alt="sxs image">
      </div>
      <div class="rightSide">
        <h2 class="subTitle greenTitles no-left-p">Key Features</h2>
        <ul class="festuresList">
          <li class="">4-Stroke DOHC Twin Cylinder 875cc</li>
          <li class="">High Performance True On-Demand AWD/2WD/Turf Mode</li>
          <li class="">4-Wheel Hydraulic Disc with Dual-Bore Front Calipers</li>
        </ul>
      </div>
    </div>

    <!-- above here is where the duplications are -->
    </div>
  </section>

  <footer></footer>
</div>
