<div class="infoWrapper">
  <header></header>

  <section class="infoContent">
    <h1 class="infoTitle">About Our Company</h1>

    <div class="infoContainer">
      <ul>
        <li class="infop infop-extra infop-big">Please reserve early so we can provide you with what you need for your adventure, as demand continues to increase for our&nbsp;rentals.</li>
        <li class="infop infop-extra"><span class="p-green">Hours</span>: Monday - Saturday 9am - 9pm Closed&nbsp;Sunday.</li>
        <li class="infop infop-extra"><span class="p-green">Address</span>: 196 W 2625 S, Salt Lake City, UT 84115</li>
      </ul>
    <div class="infomap">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1109.94333815641!2d-111.8968780839475!3d40.713903098320515!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87528add853d9b1f%3A0x9aedd8d9a9719afc!2s196+W+2625+S+St%2C+Salt+Lake+City%2C+UT+84115!5e1!3m2!1sen!2sus!4v1513057235516" frameborder="0" style="border:0" allowfullscreen></iframe></div>
    <h2 class="our-history">Our History</h2>
    <p class="infop">High Octane Rentals was started by our family of snowmobile enthusiasts who often invited friends to join us for trips to the mountains or lakes. Our friends often told us that they couldn't rent the kind of quality equipment they enjoyed&nbsp;with&nbsp;us.</p>
    <p class="infop">We answered this need by opening a business that provides high-end snowmobile and Ski Doo equipment for rent at a reasonable cost to those who love the sport but can't justify buying their own equipment. High Octane Rentals continues to expand, with a rental fleet that will meet the needs and wants of customers of all skill levels--- for both winter and summer&nbsp;enjoyment!</p>
    <p class="infop">It's our goal to allow everyone to have great outdoor experiences by providing quality equipment, fair pricing, and excellent&nbsp;service.</p>
    <h1 class="our-history resourceMb-big">Resources</h1>
    <div class="info-resources">
      <div class="resource-left">
        <h3 class="info-subtitle">Waivers</h3>
        <a href="/pdf/HO-Rentals-Damage-Waiver.pdf" target="_blank"><h1 class="p-links resourceMb">Damage Waiver</h1></a>
        <a href="/pdf/HO-Rentals-Liability-Release-&-Waiver-Form.pdf" target="_blank"><h1 class="p-links resourceMb">Liability Release</h1></a>
        <a href="/pdf/Snowmobile-Damage-Waiver.pdf" target="_blank"><h1 class="p-links resourceMb">Damage Waiver</h1></a>
        <a href="/pdf/Snowmobile-Rental-Agreement.rtf" target="_blank"><h1 class="p-links resourceMb">Rental Agreement</h1></a>
        <a href="/pdf/SxS-Rental-Agreement.rtf" target="_blank"><h1 class="p-links resourceMb">SxS-Rental Agreement</h1></a>
      </div>
      <div class="resource-right">
        <h3 class="info-subtitle mobile-mw">email</h3>
        <a class="resourceMb" href="mailto:highoctaneutah@gmail.com">highoctaneutah@gmail.com</a>
        <h3 class="info-subtitle info-sub-mt">phone</h3>
        <a class="resourceMb" href="tel:+801-872-4527">801-872-4527</a>
        <h3 class="info-subtitle info-sub-mt">address</h3>
        <a class="resourceMb" href="https://www.google.com/maps/place/196+W+2625+S+St,+Salt+Lake+City,+UT+84115/@40.7139019,-111.8984192,864m/data=!3m1!1e3!4m5!3m4!1s0x87528add853d9b1f:0x9aedd8d9a9719afc!8m2!3d40.7139019!4d-111.8962305" target="_blank">196 W 2625 S, Salt Lake City</a>
      </div>
    </div>

    </div>
  </section>

  <footer></footer>
</div>
