<div class="infoWrapper">
  <header></header>

  <section class="infoContent">
    <!-- <h1 class="infoTitle">How to Videos</h1> -->

    <div class="infoContainer" style="margin-top:50px">
    <h2 class="our-history maxW">How to change a belt</h2>
    <br>
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/A1c7cU9NSeU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br><br>
    <h2 class="our-history maxW">How to load a snowmobile on a trailer</h2>
    <br>
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/rzI1Ik6AqV8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br>
    </div>
  </section>

  <footer></footer>
</div>
