<div class="landingWrapper">
  <header></header>

  <section class="landingPage">
    <!-- <div class="heroImg"></div> -->
    <div class="Jumbotron">
      <div class="mySlides slide1">
        <h1 class="jumboTxt">Ride the Ultimate Mountain Machine</h1>
      </div>
      <div class="mySlides slide2">
        <h1 class="jumboTxt jumboTxtGreen">Different Price Points,</br> Same Great&nbsp;Fun!</h1>
      </div>
      <div class="mySlides slide3">
        <h1 class="jumboTxt jumboTxtWhite">Experience Comfortable Family&nbsp;Fun</h1>
      </div>
      <div class="mySlides slide4">
        <h1 class="jumboTxt jumboTxtGreen">Feel the Exhilaration of&nbsp;172HP</h1>
      </div>
    </div>

    <div class="thumbnail">
        <img class="demo opacity-on" src="/img/11-11-17/snow1.jpeg" ng-click="switch(1); reset();">
        <img class="demo opacity-on" src="/img/11-11-17/snow4.jpeg" ng-click="switch(2); reset();">
        <img class="demo opacity-on" src="/img/11-11-17/dirt3.jpg" ng-click="switch(3); reset();">
        <img class="demo opacity-on" src="/img/11-11-17/snow5.jpeg" ng-click="switch(4); reset();">
    </div>

    <div class="contentHolder">
      <div class="botBoxes dirt">
          <p class="boxesTxt">Have the Off Road Vacation You've Always Wanted!</p>
          <div class="botBoxes-btn" ui-sref="dirt">side by side</div>
      </div>
      <div class="botBoxes snow">
          <p class="boxesTxt">Have Your Next Trip In The Snow!</p>
          <div class="botBoxes-btn" ui-sref="snow">snowmobiles</div>
      </div>
    </div>
  </section>

  <footer></footer>
</div>
