<div class="pageWrapper">
  <header></header>

  <section class="pageContent">
    <h1 class="pageTitle">Current Inventory</h1>
    <h2 class="pageSubTitle">For Reservations Call</br> <a href="tel:+1-801-872-4527">801-872-4527</a></h2>
    <div class="content-holder">

    <!-- <div class="machineContainer">
      <div class="leftSide">
        <h1 class="machineName machineTitles no-p">Ski Doo Summit X</br> 850&nbsp;E-TEC</h1>
        <h1 class="dailyPrice">$250/Day</h1>
        <img class="machineImg" src="/img/machine-folder/2018summitx.png" alt="snowmobile image">
      </div>
      <div class="rightSide">
        <h2 class="subTitle greenTitles no-left-p">Key Features</h2>
        <ul class="festuresList">
          <li class="">Gen 4 Platform</li>
          <li class="">SHOT - the most innovative engine starter</li>
          <li class="">Industry leading power</li>
          <li class="">165" track with 3" lugs</li>
        </ul>
      </div>
    </div> -->
    <!-- under here is where i'm dulpicating -->
    <div class="machineContainer">
      <div class="leftSide">
        <h1 class="machineName machineTitles no-p">Ski Doo Summit 850 165</h1>
        <h1 class="dailyPrice">$260/Day</h1>
        <img class="machineImg" src="/img/12-2021/Summit-850-165.jpg" alt="snowmobile image">
      </div>
      <div class="rightSide">
        <h2 class="subTitle greenTitles no-left-p">Key Features</h2>
        <ul class="festuresList">
          <li class="">High Performance in Deep Powder</li>
          <li class="">165" track 3" lugs for better floatation</li>
          <li class="">Experienced Only Riders</li>
          <li class="">Seats One Only</li>
        </ul>
      </div>
    </div>

    <div class="machineContainer">
      <div class="leftSide">
        <h1 class="machineName machineTitles no-p">Ski Doo Summit 850 154</h1>
        <h1 class="dailyPrice">$235/Day</h1>
        <img class="machineImg" src="/img/12-2021/Summit-850-154.png" alt="snowmobile image">
      </div>
      <div class="rightSide">
        <h2 class="subTitle greenTitles no-left-p">Key Features</h2>
        <ul class="festuresList">
          <li class="">High Performance in Deep Powder</li>
          <li class="">154" track 2 1/2" lugs for good floatation</li>
          <li class="">Experienced Only Riders</li>
          <li class="">Seats One Only</li>
        </ul>
      </div>
    </div>

    <div class="machineContainer">
      <div class="leftSide">
        <h1 class="machineName machineTitles no-p">Ski Doo Backcountry</br> 600 Sport</h1>
        <h1 class="dailyPrice">$210/Day</h1>
        <img class="machineImg" src="/img/12-2021/Backcountry-600.png" alt="snowmobile image">
      </div>
      <div class="rightSide">
        <h2 class="subTitle greenTitles no-left-p">Key Features</h2>
        <ul class="festuresList">
          <li class="">Electric Start</li>
          <li class="">Great On and Off trail riding</li>
          <li class="">Seats one, with $25.00 per day option to add a second seat.</li>
        </ul>
      </div>
    </div>

    <div class="machineContainer">
      <div class="leftSide">
        <h1 class="machineName machineTitles no-p">Ski Doo Summit 600 Sport</h1>
        <h1 class="dailyPrice">$185/Day</h1>
        <img class="machineImg" src="/img/12-2021/Summit-600-Sport.png" alt="snowmobile image">
      </div>
      <div class="rightSide">
        <h2 class="subTitle greenTitles no-left-p">Key Features</h2>
        <ul class="festuresList">
          <li class="">Great all around snowmobile for both on and off trail riding.</li>
          <li class="">Seats one, with $25.00 per day option to add a second seat.</li>
        </ul>
      </div>
    </div>

    <!-- above here is where the duplications are -->
    </div>
    </br>
    <h2 class="pageSubTitle">All rentals require a damage waiver of $25.00 per day.</h2>
  </section>

  <footer></footer>
</div>
