<div class="pageWrapper">
  <header></header>

  <section class="pageContent">
    <h1 class="pageTitle">Current Inventory</h1>
    <h2 class="pageSubTitle">For Reservations Call</br> <a href="tel:+1-801-872-4527">801-872-4527</a></h2>
    <div class="content-holder">

    <div class="machineContainer">
      <div class="leftSide">
        <h1 class="machineName machineTitles no-p">2018 Ski Doo Summit X&nbsp;850&nbsp;E-TEC</h1>
        <h1 class="dailyPrice">$230/Day</h1>
        <img class="machineImg" src="/img/machine-folder/2018summitx.png" alt="snowmobile image">
      </div>
      <div class="rightSide">
        <h2 class="subTitle greenTitles no-left-p">Key Features</h2>
        <ul class="festuresList">
          <li class="">Gen 4 Platform</li>
          <li class="">SHOT - the most innovative engine starter</li>
          <li class="">Industry leading power</li>
          <li class="">165" track with 3" lugs</li>
        </ul>
      </div>
    </div>
    <!-- under here is where i'm dulpicating -->
    <div class="machineContainer">
      <div class="leftSide">
        <h1 class="machineName machineTitles no-p">2017 Ski Doo Summit SP&nbsp;850&nbsp;E-TEC</h1>
        <h1 class="dailyPrice">$215/Day</h1>
        <img class="machineImg" src="/img/machine-folder/2017summit165.jpg" alt="snowmobile image">
      </div>
      <div class="rightSide">
        <h2 class="subTitle greenTitles no-left-p">Key Features</h2>
        <ul class="festuresList">
          <li class="">Gen 4 Platform</li>
          <li class="">Industry leading power</li>
          <li class="">165" track with 3" lugs</li>
        </ul>
      </div>
    </div>

    <div class="machineContainer">
      <div class="leftSide">
        <h1 class="machineName machineTitles no-p">2017 Ski Doo Summit SP&nbsp;850&nbsp;E-TEC</h1>
        <h1 class="dailyPrice">$205/Day</h1>
        <img class="machineImg" src="/img/machine-folder/2017summitsp154.jpg" alt="snowmobile image">
      </div>
      <div class="rightSide">
        <h2 class="subTitle greenTitles no-left-p">Key Features</h2>
        <ul class="festuresList">
          <li class="">Gen 4 Platform</li>
          <li class="">Industry leading power</li>
          <li class="">154" track with 2 1/2" lugs</li>
        </ul>
      </div>
    </div>

    <div class="machineContainer">
      <div class="leftSide">
        <h1 class="machineName machineTitles no-p">2016 Ski Doo Summit SP&nbsp;800&nbsp;E-TEC</h1>
        <h1 class="dailyPrice">$190/Day</h1>
        <img class="machineImg" src="/img/machine-folder/2016summit800.jpg" alt="snowmobile image">
      </div>
      <div class="rightSide">
        <h2 class="subTitle greenTitles no-left-p">Key Features</h2>
        <ul class="festuresList">
          <li class="">XM Platform</li>
          <li class="">Solid dependable power</li>
          <li class="">163" track with 3" lugs</li>
        </ul>
      </div>
    </div>

    <div class="machineContainer">
      <div class="leftSide">
        <h1 class="machineName machineTitles no-p">2012 Ski Doo Summit SP&nbsp;800&nbsp;E-TEC</h1>
        <h1 class="dailyPrice">$160/Day</h1>
        <img class="machineImg" src="/img/machine-folder/2012skidoo800154.jpg" alt="snowmobile image">
      </div>
      <div class="rightSide">
        <h2 class="subTitle greenTitles no-left-p">Key Features</h2>
        <ul class="festuresList">
          <li class="">XP Platform</li>
          <li class="">Solid dependable power</li>
          <li class="">154" track with 2 1/2" lugs</li>
        </ul>
      </div>
    </div>

    <div class="machineContainer">
      <div class="leftSide">
        <h1 class="machineName machineTitles no-p">2018 Ski Doo Summit Sport 600&nbsp;E-TEC</h1>
        <h1 class="dailyPrice">$160/Day</h1>
        <img class="machineImg" src="/img/machine-folder/2018summitsport.jpeg" alt="snowmobile image">
      </div>
      <div class="rightSide">
        <h2 class="subTitle greenTitles no-left-p">Key Features</h2>
        <ul class="festuresList">
          <li class="">XP Platform</li>
          <li class="">146" track with 2 1/4" lugs</li>
          <li class="">Ability to add a second seat</li>
        </ul>
      </div>
    </div>

    <div class="machineContainer">
      <div class="leftSide">
        <h1 class="machineName machineTitles no-p">2014 Ski Doo Expedition 600&nbsp;4&nbsp;Stroke</h1>
        <h1 class="dailyPrice">$110/day</h1>
        <img class="machineImg" src="/img/machine-folder/2014expedition.jpg" alt="snowmobile image">
      </div>
      <div class="rightSide">
        <h2 class="subTitle greenTitles no-left-p">Key Features</h2>
        <ul class="festuresList">
          <li class="">Trail Master</li>
          <li class="">Comfortable 2 up seating</li>
          <li class="">Large Cargo Rack</li>
          <li class="">Electric Start</li>
        </ul>
      </div>
    </div>


    <!-- above here is where the duplications are -->
    </div>
  </section>

  <footer></footer>
</div>
