.headerDirective{
  font-family:Helvetica,Arial,sans-serif!important;
  height: 100px;
  width: 100%;
  background: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: relative;
}
.logo{
  height: 100px;
  width: 320px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo:hover{
  cursor: pointer;
}
.logoImgHolder{
  width: 90px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid white;
}
.logoTxt{
  font-size: 25px;
  color: white;
  margin: 0 10px 0 35px;
  text-align: center;
}
.logoH1{
  margin: 5px 0px;
  font-weight: bold;
}
.green{
  color: #46F350;
}
.white{
  color: #FFFFFF;
}
.logoImg{
  height: 45px;
  width: 45px;
  border-radius: 20px;
}
.headerNav{
  margin-left: 30px;
  height: 100px;
  width: calc(100% - 250px);
  display: flex;
  flex-direction: column;
}
.topNav{
}
.navFontStyle{
  font-weight: 100;
  letter-spacing: 1.5px;
  font-size: 17px;
}
.bold{
  font-weight: bold;
}
@media(max-width:366px){
  .navFontStyle{
    letter-spacing: 1.2px;
    font-size: 13px;
  }
}
.middleNav{
  position: relative;
  height: 50px;
  background: #c7c7c7;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .5s;
}
.angle {
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  border-left: 30px solid black;
  border-bottom: 50px solid transparent;
  align-self: flex-start;
}
.headerLi{
  font-size: 20px;
  color: #52585e;
  margin: 0 30px;
  font-weight: bold;
}
@media(max-width:1200px){
  .headerLi{
    margin: 0 15px;
  }
}
.headerLi:hover{
  color: #46F350;
  font-size: 22px;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  cursor: pointer;
}
.bottomNav{
}
.navNav{
  height: 25px;
  background: black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 35px;
}

/*mobile nav*/
.mobile-nav{
  position: absolute;
  border: 1px solid black;
  text-align: right;
  padding: 20px;
  top: -250px;
  visibility: hidden;
  right: 0;
  width: 210px;
  background: #c7c7c7;
  transition: all .5s;
}
.mobile-open{
  visibility: hidden;
  display: none;
  margin-right: 10px;
  max-width: 30px;
}
.mobile-open:hover{
  cursor: pointer;
}
.mobile-close{
  max-width: 30px;
}
.mobile-close:hover{
  cursor: pointer;
}
.mobileLi{
  font-size: 18px;
  margin: 15px 0;
}
.mobileLi:hover{
  font-size: 20px;
}
@media(max-width:870px){
  .headerNav{
    width: calc(100% - 160px);
  }
  .navNav{
    padding-right: 10px;
  }
  .middleNav{
    justify-content: flex-end;
  }
  .mobile-open{
    display: inline;
    visibility: visible;
  }
  .hideli{
    display: none;
  }
  .logo{
    width: 130px;
  }
  .logoImgHolder{
    display: none;
  }
}
@media(max-width:325px){
  .bottomNav{
    padding-right: 8px;
  }
}
@media(max-width:985px){
  .hide-home{
    display: none;
  }
}
