.footerDirective{
  position: relative;
  padding: 30px 10px;
  width: 100%;
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family:Helvetica,Arial,sans-serif!important;
}
.information{
  height: 100%;
  width: calc(100% - 250px);
  display: flex;
  flex-direction: column;
  min-width: 300px;
}
.pageLinks{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 355px;
}
.mainLinks{
  font-weight: bold;
}
.mainLinks:hover{
  text-decoration: underline;
  cursor: pointer;
}
.pageLinks h1{
  margin: 5px 20px;
  font-size: 20px
  text-decoration: none;
}
@media(max-width:625px){
  .pageLinks h1{
    margin: 5px 10px;
  }
}
.pdfLinks{

}
.p-links{
  font-size: 17px;
  text-decoration: none;
}
.link-skidoo{
  font-size: 12px;
}
a{
  text-decoration: none;
  color: black;
}
a:hover{
  text-decoration: underline;
}
@media(max-width:625px){
  .botLogo{
    display: none;
  }
}
.botLogo{
  max-width: 250px;
}
.botLogoImg{
  height: 100%;
  width: 100%;
}
#skidoo-footer{
  margin-left: 10px;
  margin-bottom: 8px;
  position: absolute;
  bottom: 0;
  left: 0;
}
