.pageWrapper{
  max-width: 1440px;
  margin: auto;
}
.pageContent{
  padding-bottom: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #535353;
}
.pageTitle{
  text-align: center;
  font-size: 60px;
  letter-spacing: 1.5px;
  margin: 20px;
  color: #46F350;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
@media(max-width:670px){
  .pageTitle{
    font-size: 50px;
  }
}
@media(max-width:460px){
  .pageTitle{
    font-size: 40px;
  }
}
.pageSubTitle{
  text-align: center;
  font-size: 20px;
  letter-spacing: 1.5px;
  margin: -10px 20px 20px;
  line-height: 1.1;
  color: #46F350;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.pageSubTitle a{
  text-decoration: none;
  color: #46F350;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.content-holder{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.machineContainer{
  background: white;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 5px black;
  border-radius: 5px;
  width: 650px;
  max-width: 100%;
  min-height: 565px;
}
@media(max-width:325px){
  .machineContainer{
    max-width: 95%;
  }
}
.leftSide{
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.rightSide{
  padding: 0 20px 20px;
  display: flex;
  flex-direction: column;
}
@media(max-width:870px){
  .leftSide{
    padding: 10px 20px 0;
  }
  .rightSide{
    padding:0 20px 20px;
  }
}
@media(max-width:360px){
  .leftSide{
    padding: 10px 0 0;
  }
}
.machineImg{
  width: 300px;
  height: 250px;
  object-fit: contain;
}
.machineTitles{
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 1.5px;
  padding: 10px;
  color: #46F350;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.greenTitles{
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1.5px;
  padding: 10px;
  color: #46F350;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.dailyPrice{
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
}
.leftSide:hover .greenTitles{
  color: #000;
  text-shadow: -1px -1px 0 #46F350, 1px -1px 0 #46F350, -1px 1px 0 #46F350, 1px 1px 0 #46F350;
}
.infoArea{
  font-size: 20px;
  max-width: 600px;
}
.subTitle{
  /*margin-top: 10px;*/
}
.no-left-p{
  padding-left: 0!important;
}
.no-top-p{
  padding-top: 0!important;
}
.no-p{
  padding: 0;
}
.festuresList{
  margin-top: 10px;
  list-style-type: square;
  list-style-position:inside;
}
.festuresList li{
  list-style-position: outside;
  text-transform: capitalize;
  padding: 2px 0;
  margin-left: 1em;
}
