body{
  background: black;
  font-family: "TradeGothicLTStd","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.landingWrapper{
  max-width: 1440px;
  margin: auto;
}
.landingPage{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.heroImg{
  height: 600px;
  background-image: url(/img/11-11-17/yellow-fall-2017.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.Jumbotron{
}
.jumboTxt{
  font-size: 60px;
  font-weight: bold;
  color: black;
  margin-top: 20px;
}
.jumboTxtWhite{
  color: #fff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.jumboTxtGreen{
  color: #46F350;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.slide1{
  background: red;
  background-image: url(/img/11-11-17/snow1.jpeg);
}
.slide2{
  background: green;
  background-image: url(/img/11-11-17/expedition.jpeg);
}
.slide3{
  background: blue;
  background-image: url(/img/11-11-17/dirt3.jpg);
}
.slide4{
  background: yellow;
  background-image: url(/img/11-11-17/snow3.jpeg);
}
.mySlides{
  padding: 0 8%;
  height: 571px;
  text-align: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  /*align-items: center;*/

}
.thumbnail{
  background: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.demo{
  height: 100px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all .1s;
}
.demo:hover{
  cursor: pointer;
  opacity: 1;
  margin: 0 20px;
  height: 120px;
}
/*.demobg1{
  background-image: url(/img/11-11-17/snow1.jpeg);
}
.demobg2{
  background-image: url(/img/11-11-17/expedition.jpeg);
}
.demobg3{
  background-image: url(/img/11-11-17/dirt3.jpg);
}
.demobg4{
  background-image: url(/img/11-11-17/snow3.jpeg);
}*/
.opacity-on{
  opacity: .60;
  margin: 10px 20px;
  height: 100px;
}
.opacity-off{
  opacity: 1;
  margin: 0 20px;
  height: 120px;
}
@media(max-width:1050px){
  .demo{
    height: 70px;
  }
  .demo:hover{
    height: 90px;
  }
  .opacity-on{
    height: 70px;
  }
  .opacity-off{
    height: 90px;
  }
}
@media(max-width:815px){
  .demo:hover{
    margin: 0 0;
  }
  .opacity-on{
    margin: 10px 0;
  }
  .opacity-off{
    margin: 0 0;
  }
}
@media(max-width:662px){
  .thumbnail{
    display: none;
  }
}



.contentHolder{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.botBoxes{
  height: 550px;
  width: 50%;
  background-size: cover;
  background-position: center;
  /*filter: brightness(.5);
  -webkit-filter: brightness(.5);
  -moz-filter: brightness(.5);
  -o-filter: brightness(.5);
  -ms-filter: brightness(.5);*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media(max-width:870px){
  .contentHolder{
    display: flex;
    flex-direction: column;
  }
  .botBoxes{
    padding: 0 8%;
    height: 450px;
    width:100%;
  }
}
/*.botBoxes:hover{
  filter: brightness(1);
  -webkit-filter: brightness(1);
  -moz-filter: brightness(1);
  -o-filter: brightness(1);
  -ms-filter: brightness(1);
}*/
.dirt{
  background-image: url("/img/11-11-17/dirtbox.jpg");
}
.snow{
  background-image: url("/img/11-11-17/snowbox.jpg");
}
.boxesTxt{
  text-align: center;
  letter-spacing: 1.5px;
  max-width: 300px;
  color: #FFF;
  font-size: 36px;
  font-weight: bold;
  line-height: 1;
}
.botBoxes-btn{
  transition: all .5s;
  padding: 10px 15px 15px;
  text-align: center;
  text-transform: uppercase;
  min-width: 140px;
  margin: 20px;
  border: 1px solid #fff;
  font-size: 20px;
  font-weight: bold;
  color: #46F350;
  color: #fff;
}
.botBoxes-btn:hover{
  cursor: pointer;
  border: 1px solid #46F350;
  color: #46F350;
}
